---
import Layout from "../layouts/Layout.astro"

---

<Layout title="About">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos culpa nam, rerum dolor neque fugiat. Quaerat exercitationem ut, accusantium ad quo iusto nostrum, tenetur magni sequi sint consequatur quia earum ducimus labore nam qui vitae vero nesciunt ipsam natus saepe dolorum debitis inventore quam! Sunt nobis tempore dignissimos animi optio quas architecto corrupti perspiciatis exercitationem odio explicabo maiores quo, soluta fuga cumque magnam voluptates necessitatibus! Aut vel amet eius, totam voluptas cum iste ea, eaque dolorem numquam incidunt tempore nobis, facere temporibus expedita perspiciatis minus officiis blanditiis ipsam quis esse. Placeat rerum, commodi dolores fugit tempore quae repellendus reiciendis debitis.</p>
</Layout>